In [1]:
from scipy.io import loadmat
import pickle
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [3]:
with open('/Users/erdemk/WRITEUP/Bayesian_TOA_ML/PickleJar/DataSets/AphiTrainTestSplitDataSets.pkl', 'rb') as fb:
    datadict = pickle.load(fb)

In [4]:
x_test_s = datadict['x_test_s']
y_test = datadict['y_test']

In [5]:
x_train_s = datadict['x_train_s']

In [6]:
x_train_s.shape[0] + x_test_s.shape[0]

162

In [7]:
x_test_s.head()

,dep,sst,solz,pc1,pc2,pc3,pc4,pc5,pc6
158,-1.067195,0.088912,1.409549,-2.062600,1.317990,1.726068,-0.440037,0.428693,0.087233
109,0.651093,-1.101740,1.583645,-0.284452,0.555198,-0.260618,1.651467,-0.241092,1.271284
131,0.713891,-1.015940,0.726557,-0.398845,0.741764,0.282082,1.318181,0.431949,1.027741
55,-1.016488,1.034208,-1.851402,0.836086,-1.094915,0.342000,0.270907,0.756488,-1.576699
94,1.632113,0.986040,-1.061274,2.103904,-0.817134,2.430645,0.325330,0.672708,-0.315151

In [8]:
y_test.head()

,log10_aphy411,log10_aphy443,log10_aphy489,log10_aphy510,log10_aphy555,log10_aphy670
158,-1.152057,-1.121593,-1.333295,-1.541060,-1.879755,-1.632644
109,-1.640924,-1.443215,-1.622512,-1.905529,-2.555955,-1.756962
131,-1.277037,-1.120961,-1.290815,-1.530767,-2.014574,-1.437469
55,-2.103474,-2.008774,-2.226945,-2.542118,-3.251812,-2.879426
94,-2.104025,-1.959002,-2.155523,-2.464706,-3.337242,-2.821023

In [9]:
df_giop_swf = pd.read_pickle('/Users/erdemk/PROJEX/TOA_ML/pickleJar/df_giop_swf.pkl')

In [12]:
df_giop_swf = df_giop_swf.dropna()

In [14]:
x_test_s.head()

,dep,sst,solz,pc1,pc2,pc3,pc4,pc5,pc6
158,-1.067195,0.088912,1.409549,-2.062600,1.317990,1.726068,-0.440037,0.428693,0.087233
109,0.651093,-1.101740,1.583645,-0.284452,0.555198,-0.260618,1.651467,-0.241092,1.271284
131,0.713891,-1.015940,0.726557,-0.398845,0.741764,0.282082,1.318181,0.431949,1.027741
55,-1.016488,1.034208,-1.851402,0.836086,-1.094915,0.342000,0.270907,0.756488,-1.576699
94,1.632113,0.986040,-1.061274,2.103904,-0.817134,2.430645,0.325330,0.672708,-0.315151

In [20]:
df_giop_swf.loc[test_idx, :]

/Users/erdemk/anaconda3/envs/machine_learning/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,id,datetime,lat,lon,oisst,etopo2,sola,solz,sat_rrs412,sat_rrs443,sat_rrs490,sat_rrs510,sat_rrs555,sat_rrs670,aphy411,aphy443,aphy489,aphy510,aphy555,aphy670
158,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,1877.0,2000-01-11 16:40:00,27.4265,-83.0501,21.15,15.0,182.9,49.3,0.00406,0.00484,0.00587,0.00442,0.00242,0.00018,0.01740,0.02057,0.01311,0.00701,0.00203,0.00369
131,1912.0,2000-03-03 17:40:00,26.0970,-83.0440,22.77,36.0,191.5,33.2,0.00635,0.00594,0.00529,0.00348,0.00173,0.00014,0.01427,0.01751,0.01003,0.00507,0.00089,0.00243
55,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,1949.0,2001-06-05 15:25:00,27.5417,-82.8000,27.11,4.0,196.8,5.1,0.00483,0.00615,0.00919,0.00943,0.01008,0.00082,0.06963,0.07557,0.05079,0.03470,0.01425,0.02732
19,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,1948.0,2001-04-05 17:25:00,26.0671,-83.1332,21.81,9.0,213.6,23.2,0.00766,0.00726,0.00580,0.00408,0.00228,0.00046,0.01209,0.01372,0.00851,0.00411,0.00092,0.00216

In [16]:
test_idx = y_test.index.values

In [17]:
test_idx.size

17

In [20]:
df_sat = pd.read_pickle('/Users/erdemk/PROJEX/TOA_ML/pickleJar/DataSets_InSitu_Operational/df_6_APHY_SAT.pkl')

In [21]:
df_sat.head()

,oisst,solz,sat_rho_rc412,sat_rho_rc443,sat_rho_rc490,sat_rho_rc510,sat_rho_rc555,sat_rho_rc670,log10_etopo2,sin_doy,...,aphy555,aphy560,aphy565,aphy570,aphy590,aphy619,aphy625,aphy665,aphy670,aphy683
2,0.78,52.7,0.004443,0.004387,0.004240,0.003686,0.002646,0.001177,2.518514,0.758306,...,0.00385,0.00340,0.00310,0.00291,0.00324,0.00328,0.00348,0.00774,0.01040,0.00949
3,1.79,45.9,0.005869,0.005866,0.005535,0.004643,0.003326,0.001747,3.341039,0.369725,...,0.00310,0.00275,0.00252,0.00239,0.00282,0.00301,0.00319,0.00723,0.00935,0.00798
26,27.99,13.3,0.011926,0.010478,0.007397,0.004815,0.003104,0.001721,3.643749,-0.230306,...,0.00031,0.00028,0.00026,0.00026,0.00026,0.00024,0.00024,0.00045,0.00056,0.00045
31,6.68,27.4,0.005633,0.006515,0.007241,0.007763,0.009189,0.005709,1.146128,0.880012,...,0.06294,0.05994,0.06209,0.06793,0.08212,0.12167,0.12976,0.33381,0.35450,0.19513
32,10.66,22.2,0.007095,0.007713,0.008722,0.009292,0.011147,0.005609,0.954243,0.871706,...,0.00896,0.00714,0.00558,0.00486,0.00558,0.00731,0.00811,0.03344,0.04117,0.03294

In [2]:
giop_mat = loadmat('./GIOP_workspace.mat')

In [6]:
giop_mat.pop('__header__'), 
giop_mat.pop('__version__'),
giop_mat.pop('__globals__')

[]

In [11]:
giop_mat

{'adg': array([[0.07708379, 0.04411911, 0.01893275, 0.01320893, 0.0058761 ,
         0.00074148]]),
 'apg': array([[0.09253963, 0.06432129, 0.0328016 , 0.02142975, 0.00862762,
         0.00906943]]),
 'aph': array([[0.01545584, 0.02020218, 0.01386885, 0.00822082, 0.00275152,
         0.00832795]]),
 'bbp': array([[0.00364029, 0.00327821, 0.00283397, 0.00267488, 0.00236741,
         0.00180372]]),
 'gopt': array([[(array([[0.00455056, 0.00706914, 0.015     , 0.0325    , 0.0596    ,
         0.439     ]]), array([[0.00334447, 0.00244466, 0.00158138, 0.00133039, 0.00092329,
         0.0004093 ]]), array([[0.33]]), array(['lmi'], dtype='<U3'))]],
       dtype=[('aw', 'O'), ('bbw', 'O'), ('qc', 'O'), ('inv', 'O')]),
 'mrrs': array([[0.00672663, 0.0074802 , 0.00859224, 0.0069403 , 0.00453463,
         0.00046833]]),
 'oc': array([[0.52710651]]),
 'rrs': array([[3.478e-03, 4.074e-03, 4.465e-03, 3.588e-03, 2.494e-03, 5.100e-05]]),
 't1': array([[0.04135056],
        [0.00216223],
        [0.10578426]]),
 'wl': array([[412, 443, 490, 510, 555, 670]], dtype=uint16),
 'x': array([[0.04411911, 0.00327821, 0.36930341]])}

In [9]:
with open('giop_mat2dict.pkl', 'wb') as fb:
    pickle.dump(giop_mat, fb, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
"""
function [ap,aps,aph,aphs] = get_bricaud_aph(chl,wl,norm)

%
% Bricaud et al., JGR 103, 31033-31044, 1998
%
% ap = Ap Chl^Ep
% ap* = Ap Chl^(Ep-1)
% aph = Aph Chl^Eph
% aph* = Aph Chl^(Eph-1)
% bricaud_1998_aph.txt order of columns: wl,Ap,Ep,Aph,Eph
%
% Jeremy Werdell, NASA Goddard Space Flight Center, July 2013
%


dat = load('bricaud_1998_aph.txt');

ap0   = dat(:,2) .* chl.^dat(:,3);
aps0  = dat(:,2) .* chl.^(dat(:,3) - 1);
aph0  = dat(:,4) .* chl.^dat(:,5);
aphs0 = dat(:,4) .* chl.^(dat(:,5) - 1);


if exist('norm') == 1
	idx = find(dat(:,1) == 442);
	aphs0 = aphs0 * 0.055 / aphs0(idx);
end


ap   = interp1(dat(:,1),  ap0,wl,'cubic');
aps  = interp1(dat(:,1), aps0,wl,'cubic');
aph  = interp1(dat(:,1), aph0,wl,'cubic');
aphs = interp1(dat(:,1),aphs0,wl,'cubic');"""

In [ ]:
def get_bbw(λ):
    return 0.0038 * (400 / λ)**4.32

def get_chl(rrs, 'oc4'):
    pass


def get_bbp_star(λ):
    return λ ** slopeY

def get_slope_Y(rrs):
    return 2.2 * (1 - 1.2 np.exp(-0.9 * rrs[440] / rrs[555]))

def get_aw(λ):
    """    function [aw] = get_aw(wl)
    all = load('optics_coef.txt');
    aw = interp1(all(:,1),all(:,2),wl,'cubic');
    use pd:
    pd.read_csv('./MATLAB/optics_coef.txt', whitespace_delim=True)"""
    pass

def get_adg_star(λ, Sdg = 0.018):
    return np.exp(-Sdg * λ)


def get_aϕ_star(chl, λ, 'norm'):
    """chl from oc4, and aϕ from bricaud"""
    pass

def get_u(λ):
    """u = (bbw_λ + Bbp * bbp_star_λ) / 
            (bbw_λ + Bbp * bbp_star_λ 
            + aw_λ + Adg * adg_star_λ 
            + Aϕ*aϕ_star_λ)
    """
    
def 
    * get_u(λ)( get_G1(λ)  + get_G2(λ) * get_u(λ))